<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Hello Category"
            id="com.example.helloworld">
      </category>
      <view
            name="Hello View"
            icon="icons/sample.gif"
            category="com.example.helloworld"
            class="com.example.helloworld.HelloWorldView"
            id="com.example.helloworld.HelloWorldView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
